// layout elements
header {
	height: 50vh;
	background: $cr-background;
	background-size: cover;
	background-position: center center;
	&:before {
		filter: blur(10px);
		content: "";
	}
}
.masthead {
	margin-bottom: 0;
	h1{
		margin-top: 0;
	}
}
section {
}

.wrapper {
	width: 100%;
}

.row {
	background-color: $cr-primary;
	&:after {
		clear: both;
		content: " ";
		display: table;
	} 
}
.clear {
	clear: both;
}

.cf {
	zoom: 1;
	&:after {
		clear: both;
	}
	&:before, 
	&:after {
		content: " ";
		display: table;
	}
}
/* article settings */
main {
	@include group;
	max-width: 100%;
}
article {
	@include group;
  img {
    max-width: 100%;
    height: auto;
  }
}

.content {
	@include group;
	border-bottom: 3px solid $cr-contrast;
	img {
	}
	&>p:first-of-type:first-line {	}
	&:last-child {	}
}
// featured loop styling
.featured {
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-color: $cr-secondary;
	color: $cr-highlight;
	padding: 1em;
}
.second-loop {
	float: left;
	width: 50%;
	color: $cr-contrast;
	padding: 1em;
}
.third-loop {
	float: left;
	width: 50%;
	color: $cr-contrast;
	padding: 1em;
}
 
// menus

nav { 
	.sub-menu {
		visibility: hidden;
		height: 0;
		width: 100%;
	}
	ul {
		margin: 0;
		}
		li {
			display: inline;
			margin-right: 1em;
		}
	}

.menu {
	padding: 0;
	&:hover > .sub-menu {
		visibility: visible;
		height: 2em;
		width: 100%;
	}
}
/* comments */

div.comments {
	// wrapper for comments. 
	width: 100%;
	height: auto;
	
	
}
.nopassword {
	// if post is password protected. 
	// create box shadow with round corners. 
}
h2.comment-title {
	// titles for comments. 
	
}
.comment-nav-above {
	
}
.comment-nav-below {
	
}
.nav-previous {
	
}
.nav-next {
	
}

/* 404 */
.no-results {}
.not-found {}

/* search results */
.page-header {}