// layout elements
.wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
}

.entry {
	width: 61%;
	max-width: 66rem;
	min-width: 33rem;
}

.clear {
	clear: both;
}

.cf {
	zoom: 1;
	&:after {
		clear: both;
	}
	&:before, 
	&:after {
		content: " ";
		display: table;
	}
}




