// layout elements
header {
	display: block;
	height: 50vh;
	background: $cr-background;
	background-size: cover;
	background-position: center center;
	&:before {
		filter: blur(10px);
		content: " ";
	}
}
.masthead {
	margin-bottom: 0;
	h1{
		margin-top: 0;
	}
}
section {
}

.wrapper {
	width: 100%;
}

.entry {
	width: 61%;
	max-width: 66rem;
	min-width: 33rem;
}
.row {
	background-color: darken($cr-primary, 20% );
	&:after {
		clear: both;
		content: " ";
		display: table;
	} 
}
.clear {
	clear: both;
}

.cf {
	zoom: 1;
	&:after {
		clear: both;
	}
	&:before, 
	&:after {
		content: " ";
		display: table;
	}
}
/* article settings */
main {
	max-width: 100%;
}
article {
  img {
    max-width: 100%;
    height: auto;
  }
}

.content {
	img {
	}
	&>p:first-of-type {
		@include adjust-font-size-to($base-font-size * $phi);
	}
	&:last-child {
		@include trailer(3);
		@include trailing-border(1,1,0,solid);
	}
}
// featured loop styling
.featured {
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-color: $cr-secondary;
	color: $cr-highlight;
	padding: rhythm(1);
}
.second-loop {
	float: left;
	width: 50%;
	color: $cr-contrast;
	padding: rhythm(1);
}
.third-loop {
	float: left;
	width: 50%;
	color: $cr-contrast;
	padding: rhythm(1);
}

